*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.item{
    height: 400px;
    width: 300px;
    background-color: crimson;
    color: whitesmoke;
    margin: 20px;
    font-size: 12px;
    text-align: center;
}
.container{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;

}
.item-1{
    order: 1;
    flex-grow: 5;
    align-self: flex-start;
}
.item-2{
    order: 3;
    flex-grow: 10;
    align-self: flex-end;
}
.item-3{
    flex-basis: 500px;
    order: 2;
    align-self: center;

}